@using   OnlineShoppingStore.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Online SHopping Store</title>
    @*@Styles.Render("~/Content/css")*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MyMainLayOut.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/style.css" type="text/css" media="all">
    <!-- //Custom-Stylesheet-Links -->
    <!--fonts -->
    <!-- //fonts -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/material-design-iconic-font.min.css">

    <link rel="stylesheet" href="~/Content/nav.css">


    <!---  Update  ---->
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="../Content/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/Content/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/Content/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <link type="text/css" rel="stylesheet" href="~/Content/custom.css" />

    <link type= "text/css" rel="stylesheet" href="~/Content/style.css" />


    <link type="text/css" rel="stylesheet" href="~/Content/customcart.css" />

    <link type="text/css" rel="stylesheet" href="~/Content/toggole.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/userprofile.css" />
    
    <!-- Custom stlylesheet -->

    @Scripts.Render("~/bundles/modernizr")


</head>


<body>
    <!-- HEADER -->
    <header>
        <!-- top Header -->
        
        <!-- /top Header -->
        <!-- header -->
        <div id="header">
            <div class="container">
                <div class="pull-left">
                    <!-- Logo -->
                    <div class="header-logo">
                        <a class="logo" href="#">
                            <img src="./img/logo.png" alt="">
                        </a>
                    </div>
                    <!-- /Logo -->
                    <!-- Search -->
                    <div class="header-search">
                        <form action="~/Home/IndexSearch" method="get">
                            <input class="input search-input" type="text" name="search" placeholder="Enter your keyword">
                            
                            <button class="search-btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- /Search -->
                </div>
                <div class="pull-right">
                    <ul class="header-btns">
                        <!-- Account -->
                        <li class="header-account dropdown default-dropdown">
                            <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                                <div class="header-btns-icon">
                                    <i class="fa fa-user-o"></i>
                                </div>
                                <strong class="text-uppercase">My Account <i class="fa fa-caret-down"></i></strong>
                            </div>
                            
                                                                           <ul class="custom-menu">
                                                                               @if (Session["username"] == null)
                                                                               {
                                                                                   <li><a href="~/Userinfo/UserProfile"><i class="fa fa-user-o"></i> My Account</a></li>

                                                                               }
                                                                               else
                                                                               {
                                                                                   <li><a href="~/Userinfo/UserProfile"><i class="fa fa-user-o"></i> @Session["firstname"] </a></li>
                                                                               }
                                                                               <li><a href="~/MyFeatures/Wishlist"><i class="fa fa-heart-o"></i> My Wishlist</a></li>

                                                                               <li><a href="~/Home/OrderDetails"><i class="fa fa-check"></i> Checkout</a></li>
                                                                              

                                                                               <li><a href="~/Home/CustomOrder"><i class="fa fa-user-plus"></i>CustomOrder</a></li>

                                                                               @if (Session["username"] != null)
                                                                               {
                                                                                   <li><a href="~/Home/logout"><i class="fa fa-user-plus"></i>Logout</a></li>
                                                                               }
                                                                               else
                                                                               {
                                                                                   <li><a href="~/Home/Login"><i class="fa fa-unlock-alt"></i> Login</a></li>

                                                                               }
                                                                           </ul>
                        </li>
                        <!-- /Account -->
                        <!-- Cart -->
                        <li class="header-cart dropdown default-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">




                                @if (Session["cart"] != null)
                                {
                                    int count = 1;
                                    int Total = 0;
                                    foreach (var item in (List<item>)Session["cart"])
                                    {
                                        int productPrice = Convert.ToInt32(item.ProductCartTable.Rows[0][6]);
                                        int lineTotal = Convert.ToInt32(item.Quantity * productPrice);
                                        Total = Convert.ToInt32(@Total + lineTotal);


                                    }
                                    <div class="header-btns-icon">
                                        <i class="fa fa-shopping-cart"></i>
                                        @*<span class="qty"> </span>*@
                                    </div>
                                    <strong class="text-uppercase">My Cart:</strong>
                                   <br />
                                    <span>
                                        @Total
                                    </span>

                                }




                            </a>
                            <div class="custom-menu">
                                <div id="shopping-cart">
                                    <div class="shopping-cart-list">
                                        @if (Session["cart"] != null)
                                        {
                                            int count = 1;
                                            int Total = 0;
                                            foreach (var item in (List<item>)Session["cart"])
                                            {
                                                <div class="product product-widget">
                                                    <div class="product-thumb">
                                                        <img src="../ProductImg/@item.ProductCartTable.Rows[0][8]" alt="">

                                                    </div>
                                                    <div class="product-body">
                                                        <h3 class="product-price">@item.ProductCartTable.Rows[0][6]  <span class="qty">x @item.Quantity</span></h3>
                                                        <h2 class="product-name"><a href="#">@item.ProductCartTable.Rows[0][3] </a></h2>
                                                    </div>
                                                    @*<button class="cancel-btn" onclick="location.href='@Url.Action("RemoveFromCart", "Home")?id='+@item.ProductCartTable.Rows[0][0])"><i class="fa fa-trash"></i></button>*@

                                                    <a class="cancel-btn" href="../Home/RemoveFromCart/@(item.ProductCartTable.Rows[0][0])"><i class="fa fa-trash"></i></a>
                                                </div>

                                            }
                                        }
                                        else {
                                            <p>No Product Added</p>
                                        }

                                    </div>
                                    <div class="shopping-cart-btns">
                                        @*  <button class="main-btn">View Cart</button>*@
                                        <button class="main-btn" onclick="location.href='@Url.Action("AddtoCartview", "Home")'">View Cart</button>

                                        <a class="btn primary-btn" href="~/Home/OrderDetails">Checkout <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- /Cart -->
                        <!-- Mobile nav toggle-->
                        <li class="nav-toggle">
                            <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                        </li>
                        <!-- / Mobile nav toggle -->
                    </ul>
                </div>
            </div>
            <!-- header -->
        </div>
        <!-- container -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <div id="navigation">
        <!-- container -->
        <div class="container">
            <div id="responsive-nav">
                <!-- category nav -->
                <div class="category-nav show-on-click ">
                    <span class="category-header">Categories <i class="fa fa-list"></i></span>
                    <ul id="menuId" class="category-list">
                        <li><a href="~/Home/CategoryByView/10">Women's Collections</a></li>     @*<div class="custom-menu">
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-links">
                        <li>
                            <h3 class="list-links-title">Categories</h3>
                        </li>
                        <li><a href="#">Women’s Clothing</a></li>
                        <li><a href="#">Men’s Clothing</a></li>
                        <li><a href="#">Phones & Accessories</a></li>
                        <li><a href="#">Jewelry & Watches</a></li>
                        <li><a href="#">Bags & Shoes</a></li>
                    </ul>
                    <hr class="hidden-md hidden-lg">
                </div>
                <div class="col-md-4">
                    <ul class="list-links">
                        <li>
                            <h3 class="list-links-title">Categories</h3>
                        </li>
                        <li><a href="#">Women’s Clothing</a></li>
                        <li><a href="#">Men’s Clothing</a></li>
                        <li><a href="#">Phones & Accessories</a></li>
                        <li><a href="#">Jewelry & Watches</a></li>
                        <li><a href="#">Bags & Shoes</a></li>
                    </ul>
                    <hr class="hidden-md hidden-lg">
                </div>
                <div class="col-md-4">
                    <ul class="list-links">
                        <li>
                            <h3 class="list-links-title">Categories</h3>
                        </li>
                        <li><a href="#">Women’s Clothing</a></li>
                        <li><a href="#">Men’s Clothing</a></li>
                        <li><a href="#">Phones & Accessories</a></li>
                        <li><a href="#">Jewelry & Watches</a></li>
                        <li><a href="#">Bags & Shoes</a></li>
                    </ul>
                </div>
            </div>
            <div class="row hidden-sm hidden-xs">
                <div class="col-md-12">
                    <hr>
                    <a class="banner banner-1" href="#">
                        <img src="./img/banner05.jpg" alt="">
                        <div class="banner-caption text-center">
                            <h2 class="white-color">NEW COLLECTION</h2>
                            <h3 class="white-color font-weak">HOT DEAL</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>*@
                        </li>
                        <li><a href="../Home/CategoryByView/1">Men’s Clothing</a></li>
                        <li class="dropdown side-dropdown">
                            @*<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"> Accessories </a>*@
                            @*<div class="custom-menu">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="list-links">
                            <li>
                                <h3 class="list-links-title">Categories</h3>
                            </li>
                            <li><a href="#">Women’s Clothing</a></li>
                            <li><a href="#">Men’s Clothing</a></li>
                            <li><a href="#">Phones & Accessories</a></li>
                            <li><a href="#">Jewelry & Watches</a></li>
                            <li><a href="#">Bags & Shoes</a></li>
                        </ul>
                        <hr>
                        <ul class="list-links">
                            <li>
                                <h3 class="list-links-title">Categories</h3>
                            </li>
                            <li><a href="#">Women’s Clothing</a></li>
                            <li><a href="#">Men’s Clothing</a></li>
                            <li><a href="#">Phones & Accessories</a></li>
                            <li><a href="#">Jewelry & Watches</a></li>
                            <li><a href="#">Bags & Shoes</a></li>
                        </ul>
                        <hr class="hidden-md hidden-lg">
                    </div>
                    <div class="col-md-4">
                        <ul class="list-links">
                            <li>
                                <h3 class="list-links-title">Categories</h3>
                            </li>
                            <li><a href="#">Women’s Clothing</a></li>
                            <li><a href="#">Men’s Clothing</a></li>
                            <li><a href="#">Phones & Accessories</a></li>
                            <li><a href="#">Jewelry & Watches</a></li>
                            <li><a href="#">Bags & Shoes</a></li>
                        </ul>
                        <hr>
                        <ul class="list-links">
                            <li>
                                <h3 class="list-links-title">Categories</h3>
                            </li>
                            <li><a href="#">Women’s Clothing</a></li>
                            <li><a href="#">Men’s Clothing</a></li>
                            <li><a href="#">Phones & Accessories</a></li>
                            <li><a href="#">Jewelry & Watches</a></li>
                            <li><a href="#">Bags & Shoes</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs">
                        <a class="banner banner-2" href="#">
                            <img src="./img/banner04.jpg" alt="">
                            <div class="banner-caption">
                                <h3 class="white-color">NEW<br>COLLECTION</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>*@
                        </li>

                        <li><a href="~/Home/CategoryByView/11">Kids Collections</a></li>
                        <li class="dropdown side-dropdown">
                            @*<div class="custom-menu">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="list-links">
                            <li>
                                <h3 class="list-links-title">Categories</h3>
                            </li>
                            <li><a href="#">Women’s Clothing</a></li>
                            <li><a href="#">Men’s Clothing</a></li>
                            <li><a href="#">Phones & Accessories</a></li>
                            <li><a href="#">Jewelry & Watches</a></li>
                            <li><a href="#">Bags & Shoes</a></li>
                        </ul>
                        <hr>
                        <ul class="list-links">
                            <li>
                                <h3 class="list-links-title">Categories</h3>
                            </li>
                            <li><a href="#">Women’s Clothing</a></li>
                            <li><a href="#">Men’s Clothing</a></li>
                            <li><a href="#">Phones & Accessories</a></li>
                            <li><a href="#">Jewelry & Watches</a></li>
                            <li><a href="#">Bags & Shoes</a></li>
                        </ul>
                        <hr class="hidden-md hidden-lg">
                    </div>
                    <div class="col-md-4">
                        <ul class="list-links">
                            <li>
                                <h3 class="list-links-title">Categories</h3>
                            </li>
                            <li><a href="#">Women’s Clothing</a></li>
                            <li><a href="#">Men’s Clothing</a></li>
                            <li><a href="#">Phones & Accessories</a></li>
                            <li><a href="#">Jewelry & Watches</a></li>
                            <li><a href="#">Bags & Shoes</a></li>
                        </ul>
                        <hr>
                        <ul class="list-links">
                            <li>
                                <h3 class="list-links-title">Categories</h3>
                            </li>
                            <li><a href="#">Women’s Clothing</a></li>
                            <li><a href="#">Men’s Clothing</a></li>
                            <li><a href="#">Phones & Accessories</a></li>
                            <li><a href="#">Jewelry & Watches</a></li>
                            <li><a href="#">Bags & Shoes</a></li>
                        </ul>
                        <hr class="hidden-md hidden-lg">
                    </div>
                    <div class="col-md-4">
                        <ul class="list-links">
                            <li>
                                <h3 class="list-links-title">Categories</h3>
                            </li>
                            <li><a href="#">Women’s Clothing</a></li>
                            <li><a href="#">Men’s Clothing</a></li>
                            <li><a href="#">Phones & Accessories</a></li>
                            <li><a href="#">Jewelry & Watches</a></li>
                            <li><a href="#">Bags & Shoes</a></li>
                        </ul>
                        <hr>
                        <ul class="list-links">
                            <li>
                                <h3 class="list-links-title">Categories</h3>
                            </li>
                            <li><a href="#">Women’s Clothing</a></li>
                            <li><a href="#">Men’s Clothing</a></li>
                            <li><a href="#">Phones & Accessories</a></li>
                            <li><a href="#">Jewelry & Watches</a></li>
                            <li><a href="#">Bags & Shoes</a></li>
                        </ul>
                    </div>
                </div>
            </div>*@
                        </li>

                        <li><a href="~/Home/ViewAll">View All</a></li>
                    </ul>
                </div>
                <!-- /category nav -->
                <!-- menu nav -->
                <div class="menu-nav">
                    <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                    <ul class="menu-list">
                        <li><a href="~/Home/Index">Home</a></li>
                        <li><a href="#">Shop</a></li>
                        <li class="dropdown mega-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Women <i class="fa fa-caret-down"></i></a>
                            @*<div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Categories</h3>
                                            </li>
                                            <li><a href="#">Women’s Clothing</a></li>
                                            <li><a href="#">Men’s Clothing</a></li>
                                            <li><a href="#">Phones & Accessories</a></li>
                                            <li><a href="#">Jewelry & Watches</a></li>
                                            <li><a href="#">Bags & Shoes</a></li>
                                        </ul>
                                        <hr class="hidden-md hidden-lg">
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Categories</h3>
                                            </li>
                                            <li><a href="#">Women’s Clothing</a></li>
                                            <li><a href="#">Men’s Clothing</a></li>
                                            <li><a href="#">Phones & Accessories</a></li>
                                            <li><a href="#">Jewelry & Watches</a></li>
                                            <li><a href="#">Bags & Shoes</a></li>
                                        </ul>
                                        <hr class="hidden-md hidden-lg">
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Categories</h3>
                                            </li>
                                            <li><a href="#">Women’s Clothing</a></li>
                                            <li><a href="#">Men’s Clothing</a></li>
                                            <li><a href="#">Phones & Accessories</a></li>
                                            <li><a href="#">Jewelry & Watches</a></li>
                                            <li><a href="#">Bags & Shoes</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row hidden-sm hidden-xs">
                                    <div class="col-md-12">
                                        <hr>
                                        <a class="banner banner-1" href="#">
                                            <img src="./img/banner05.jpg" alt="">
                                            <div class="banner-caption text-center">
                                                <h2 class="white-color">NEW COLLECTION</h2>
                                                <h3 class="white-color font-weak">HOT DEAL</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>*@
                        </li>
                        <li class="dropdown mega-dropdown full-width">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Men <i class="fa fa-caret-down"></i></a>
                            @*<div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="hidden-sm hidden-xs">
                                            <a class="banner banner-1" href="#">
                                                <img src="./img/banner06.jpg" alt="">
                                                <div class="banner-caption text-center">
                                                    <h3 class="white-color text-uppercase">Women’s</h3>
                                                </div>
                                            </a>
                                            <hr>
                                        </div>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Categories</h3>
                                            </li>
                                            <li><a href="#">Women’s Clothing</a></li>
                                            <li><a href="#">Men’s Clothing</a></li>
                                            <li><a href="#">Phones & Accessories</a></li>
                                            <li><a href="#">Jewelry & Watches</a></li>
                                            <li><a href="#">Bags & Shoes</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="hidden-sm hidden-xs">
                                            <a class="banner banner-1" href="#">
                                                <img src="./img/banner07.jpg" alt="">
                                                <div class="banner-caption text-center">
                                                    <h3 class="white-color text-uppercase">Men’s</h3>
                                                </div>
                                            </a>
                                        </div>
                                        <hr>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Categories</h3>
                                            </li>
                                            <li><a href="#">Women’s Clothing</a></li>
                                            <li><a href="#">Men’s Clothing</a></li>
                                            <li><a href="#">Phones & Accessories</a></li>
                                            <li><a href="#">Jewelry & Watches</a></li>
                                            <li><a href="#">Bags & Shoes</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="hidden-sm hidden-xs">
                                            <a class="banner banner-1" href="#">
                                                <img src="./img/banner08.jpg" alt="">
                                                <div class="banner-caption text-center">
                                                    <h3 class="white-color text-uppercase">Accessories</h3>
                                                </div>
                                            </a>
                                        </div>
                                        <hr>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Categories</h3>
                                            </li>
                                            <li><a href="#">Women’s Clothing</a></li>
                                            <li><a href="#">Men’s Clothing</a></li>
                                            <li><a href="#">Phones & Accessories</a></li>
                                            <li><a href="#">Jewelry & Watches</a></li>
                                            <li><a href="#">Bags & Shoes</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="hidden-sm hidden-xs">
                                            <a class="banner banner-1" href="#">
                                                <img src="./img/banner09.jpg" alt="">
                                                <div class="banner-caption text-center">
                                                    <h3 class="white-color text-uppercase">Bags</h3>
                                                </div>
                                            </a>
                                        </div>
                                        <hr>
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Categories</h3>
                                            </li>
                                            <li><a href="#">Women’s Clothing</a></li>
                                            <li><a href="#">Men’s Clothing</a></li>
                                            <li><a href="#">Phones & Accessories</a></li>
                                            <li><a href="#">Jewelry & Watches</a></li>
                                            <li><a href="#">Bags & Shoes</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>*@
                        </li>
                     
                        @*<li class="dropdown default-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Pages <i class="fa fa-caret-down"></i></a>
                            <ul class="custom-menu">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="products.html">Products</a></li>
                                <li><a href="product-page.html">Product Details</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                            </ul>
                        </li>*@
                    </ul>
                </div>
                <!-- menu nav -->
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /NAVIGATION -->
    <!-- HOME -->
    
    <!-- /HOME -->



    @RenderBody()
    <hr />
    <footer>
        <div class="row">
            <div class="col-md-12 copyright">

                <div class="col-md-6 col-sm-6 copyright-left">
                    <p>&copy; @DateTime.Now.Year - OnlineShopingStore. All right reserved.</p>
                </div>

                
            </div>
        </div>

    </footer>

    

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Scripts/main.js")"></script>
    @**@

                        @*<script src="@Url.Content("~/Loginstyle/vendor/jquery/jquery.min.js")"></script>
    <!-- Vendor JS-->

    <script src= "@Url.Content("~/Loginstyle/vendor/select2/select2.min.js")"></script>
    <script src="  "@Url.Content("~/Loginstyle/vendor/datepicker/moment.min.js")"></script>
    <script src="    "@Url.Content("~/Loginstyle/vendor/datepicker/daterangepicker.js")"></script>
         n
    <!-- Main JS-->
    <script src="@Url.Content("~/Loginstyle/js/global.js")"></script>*@




                        <!-- jQuery Plugins -->

    <script>
        const menu = document.getElementById("menuId");
        if (location.pathname === "/" || location.pathname === '/Home/Index') {
            menu.classList.add("open")
        }
        console.log(window.location.pathname)
    </script>
</body>
        </html>
